<%= link_to 'Назад', admin_categories_path, {class: 'waves-effect waves-light btn castom-button castom-button--purple'} %>
<%= form_with model: [:admin, @category], class: 'castom-form castom-form--purple castom-form--margin-top', local: true do |f| %>
  <div class="input-field">
    <%= f.text_field :name, class: "#{invalid_class(@category, :name)} letters-count-in-input" %>
    <%= f.label :name, 'Название' %>
    <span class="helper-text error" data-error="<%= error_message(@category, :name) %>">
      Максимальное количество символов: <span><%= @category.name_max_length %></span>
      Введено: <span class="letters-count-output"></span>
    </span>
  </div>
  <div class="input-field">
    <%= f.text_field :description, class: invalid_class(@category, :description) %>
    <%= f.label :description, 'Описание' %>
    <span class="helper-text error" data-error="<%= error_message(@category, :description) %>">Краткое описание. Нужно для поисковых роботов.</span>
  </div>
  <div class="input-field">
    <%= f.text_field :keywords, class: invalid_class(@category, :keywords) %>
    <%= f.label :keywords, 'Ключевые слова' %>
    <span class="helper-text error" data-error="<%= error_message(@category, :keywords) %>">Например: драгоценные камни, купить изделия из дерева, купить украшения нерюнгри. Нужно для поисковых роботов.</span>
  </div>
  <%= f.submit('Сохранить', class: 'waves-effect waves-light btn castom-button castom-button--purple castom-button--input-text-white') %>
<% end %>