<footer data-turbolinks-permanent class="blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <p class="white-text">Контакты</p>
        <p class="grey-text text-lighten-4">Россия, Республика Саха (Якутия), г.Нерюнгри, пр.Дружбы Народов, 29/1</p>
        <p><a href="mailto:<%= @contacts.email %>"><%= @contacts.email %></a></p>
        <p><a href="https://www.instagram.com/<%= @contacts.instagram %>"><%= image_tag('static/instagram.svg', {class: 'instagram_logo', alt: 'instagram'}) %></a></p>
      </div>
      <div class="col l4 s12 block-phone">
        <p>
          Режим работы (Якт время)
        </p>
        <p>
          Вт-Пт – с 11:00 до 19:00 <br/>
          Сб-Вс – с 11:00 до 17:00 <br/>
          Пн – выходной
        </p>
        <p><a href="tel:+<%= @contacts.call_format_phone %>"><%= @contacts.phone %></a></p>
      </div>
      <div class="col l4 s12 logo2">
        <%= image_tag('static/logo.svg', {alt: 'logo'}) %>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-3">
    <div class="container">
      <div class="copy-flexbox">
        <p class="left">© <%= Time.now.year %> И.П. Кудряшов.С.С., Художественная мастерская «Северное сияние».</p>
        <%= image_tag('static/rails.svg', alt: 'ruby on rails') %>
      </div>
    </div>
  </div>
</footer>