<header>
  <ul id="dropdown1" class="dropdown-content dropdown-content--blue-grey">
    <% categories = Category.all %>
    <% unless categories.empty? %>
      <% categories.all.each do |category| %>
        <% cache(category) do %>
          <li><%= link_to category.name, shop_category_products_path(category) %></li>
        <% end %>
      <% end %>
    <% else %>
      <li>
        <a href='#' class="disabled">
          Пока пусто
        </a>
      </li>
    <% end %>
  </ul>
  <nav class="blue-grey darken-3">
    <div class="nav-wrapper">
      <div class="container">
        <%= link_to "#", { class: 'left sidenav-click hide-on-med-and-up' } do %>
          <i class="material-icons">menu</i>
        <% end %>
        <ul class="left hide-on-small-only">
          <li>
            <%= link_to 'Главная', root_path %></li>
          <li>
            <a href="#" class='dropdown-trigger' data-target='dropdown1'>Магазин<i class="material-icons right">arrow_drop_down</i></a>
          </li>
        </ul>
        <% unless current_page?(privacy_agreement_path) or current_page?(new_shop_order_path) %>
          <ul class="right">
            <li>
              <%= link_to(show_cart_path, remote: true, method: :post) do %>
                <a href="#bottom-modal-cart" class="modal-trigger footer">
                  <i class="material-icons">shopping_cart</i>
                </a>
              <% end %>
            </li>
          </ul>
        <% end %>
        <% if params[:controller] == 'shop/products' && params[:action] == 'index' || params[:controller] == 'shop/search_products' && params[:action] == 'index' %>
          <div id="header-search-input" class="input-field right">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Поиск">
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <ul class="sidenav sidemenu">
    <li>
      <%= link_to(root_path, {class: 'side-link'}) do %>
        <i class="small material-icons">home</i>
      <% end %>
    </li>
    <hr>
    <% categories.each do |category| %>
      <% cache(category) do %>
        <li><%= link_to category.name, shop_category_products_path(category), { class: 'side-link' } %></li>
      <% end %>
    <% end %>
  </ul>
</header>
