<section id="preview-block">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <%= image_tag('static/logo.svg', {class: 'logo1'}) %>
        <h1>Художественная мастерская</h1>
      </div>
      <div class="col l7 offset-l1 s12">
        <div class="carousel right">
          <%= image_tag('carousel/carousel_1.jpg', { class: 'carousel-item carousel-picture'}) %>
          <%= image_tag('carousel/carousel_2.jpg', { class: 'carousel-item carousel-picture'}) %>
          <%= image_tag('carousel/carousel_3.jpg', { class: 'carousel-item carousel-picture'}) %>
          <%= image_tag('carousel/carousel_4.jpg', { class: 'carousel-item carousel-picture'}) %>
          <%= image_tag('carousel/carousel_5.jpg', { class: 'carousel-item carousel-picture'}) %>
        </div>
      </div>
    </div>
  </div>
</section>