<div class="product_card">
  <%= link_to image_tag(product_card.middle_picture, {alt: product_card.name}), shop_product_path(product_card) %>
  <div class="product_card__text">
    <a class="product_card__title_link" href="<%= shop_product_path(product_card) %>">
      <h3 class="product_card__title"><%= product_card.name %></h3>
    </a>
    <p class="product_card__description"><%= product_card.preview %></p>
  </div>
  <% if product_card.unique %>
    <%= link_to 'Подробнее', shop_product_path(product_card), class: 'waves-effect waves-light btn purple-hover-btn product_card__add' %>
  <% else %>
    <%= link_to 'В корзину', add_product_path(product_card), remote: true, method: :post, class: 'waves-effect waves-light btn purple-hover-btn product_card__add' %>
  <% end %>
  <div class="product_card__price">
    <span><%= product_card.price %></span>
    <span>₽</span>
  </div>
</div>