<div class="product_card" data-src="<%= request.base_url + url_for(product_card.middle_picture) %>" data-alt="<%= product_card.name %>">
  <%= link_to shop_product_path(product_card) + (if defined? q then q else '' end), class: 'product_card--image-link' do %>
    <div class="preloader-box preloader-box--product-cart preloader-box--white blue-grey darken-3">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  <% end %>
  <%=  %>
  <div class="product_card__text">
    <a class="product_card__title_link" href="<%= shop_product_path(product_card) + (if defined? q then q else '' end) %>">
      <h3 class="product_card__title"><%= product_card.name %></h3>
    </a>
    <p class="product_card__description"><%= product_card.preview %></p>
  </div>
  <% if product_card.unique %>
    <%= link_to 'Подробнее', shop_product_path(product_card) + (if defined? q then q else '' end), class: 'waves-effect waves-light btn purple-hover-btn product_card__add' %>
  <% else %>
    <%= link_to 'В корзину', add_product_path(product_card), remote: true, method: :post, class: 'waves-effect waves-light btn purple-hover-btn product_card__add' %>
  <% end %>
  <div class="product_card__price">
    <span><%= product_card.price %></span>
    <span><%= image_tag 'static/ruble-currency-sign.svg', { alt: 'rub' } %></span>
  </div>
</div>