<a id="menu" class="tap-target-fixed waves-light btn btn-floating purple darken-4 pulse">
  <i class="material-icons">phone_in_talk</i>
</a>
<div class="tap-target purple darken-4" data-target="menu" id="fdpage">
  <div class="tap-target-content">
    <%= form_with url: calls_path, id: 'call_form', local: false do |form| %>
      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <%= form.text_field :name %>
        <%= form.label :name, 'Ваше имя' %>
        <span id="errors-call-name" class="helper-text" data-error=""></span>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">phone</i>
        <%= form.text_field :telephone %>
        <%= form.label :telephone, 'Ваш телефонный номер' %>
        <span id="errors-call-telephone" class="helper-text" data-error=""></span>
      </div>
      <div class="input-field">
        <label>
          <%= form.check_box :confirm, class: 'filled-in', value: "1", checked: false  %>
          <span id="errors-call-confirm" class="faq-checkbox">Принять <a target="_blank" href="<%= privacy_agreement_path %>">политику приватности</a></span>
        </label>
      </div>
      <div class="input-field">
        <%= form.submit 'Отправить', class: 'white waves-effect waves-light btn' %>
      </div>
    <% end %>
  </div>
</div>