<div class="modal-cart">
  <% unless products.empty? %>
    <i class="small material-icons modal-close">clear</i>
    <h3>Корзина</h3>
    <div class="to_order">
      <p>Итого: <span id="tottal-price"><%= tottal_price %></span>&nbsp;<span><%= image_tag('static/ruble-currency-sign.svg', { alt: 'rub' }) %></span></p>
      <%= link_to 'Оформить заказ', new_shop_order_path, id: 'to-order', target: '_blank', class: 'blue-grey darken-3 waves-effect waves-light btn blue-grey-hover-btn' %>
    </div>
    <div id="cart">
      <% products.each do |value| %>
        <div class="product-flexbox">
          <div class="image-block"><%= image_tag value[:product].thumb_picture, { alt: value[:product].name } %></div>
          <div class="description-grid">
            <div class="title-block"><%= value[:product].name %></div>
            <div class="price-block"><span><%= value[:product].price %></span>&nbsp;<span><%= image_tag('static/ruble-currency-sign.svg', { alt: 'rub' }) %></span></div>
            <div class="count-block">
              <%= link_to minus_product_path(value[:product].id), class: 'minus-product' do %>
                <i class="material-icons">remove</i>
              <% end %>
              <span class="product-type-count"><%= value[:count] %></span>
              <%= link_to plus_product_path(value[:product].id), class: 'plus-product' do %>
                <i class="material-icons">add</i>
              <% end %>
            </div>
            <div class="delete-block">
              <%= link_to remove_products_path(value[:product].id), class: 'remove_products' do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <i class="small material-icons modal-close">clear</i>
    <h3>Корзина пуста</h3>
    <p class="empty-cart-message">Но у нас много классных изделий :-)</p>
  <% end %>
</div>
