<div class="modal-cart">
  <i class="small material-icons modal-close">clear</i>
  <% unless products.empty? %>
    <h3>Корзина</h3>
    <div class="to_order">
      <p>Итого: <span id="tottal-price"><%= tottal_price %></span> <span>₽</span></p>
      <%= link_to 'Оформить заказ', new_shop_order_path, class: 'waves-effect waves-light btn blue-grey-hover-btn' %>
    </div>
    <div id="cart">
      <% products.each do |v| %>
        <div class="product-flexbox">
          <div class="image-block"><%= image_tag v[:product].thumb_picture, { alt: v[:product].name } %></div>
          <div class="description-grid" data-id="<%= v[:product].id %>">
            <div class="title-block"><%= v[:product].name %></div>
            <div class="price-block"><span><%= v[:product].price %></span> <span>₽</span></div>
            <div class="count-block">
              <%= link_to minus_product_path(v[:product]), remote: true, method: :post do %>
                <i class="material-icons">remove</i>
              <% end %>
              <span class="product-type-count"><%= v[:count] %></span>
              <%= link_to plus_product_path(v[:product]), remote: true, method: :post do %>
                <i class="material-icons">add</i>
              <% end %>
            </div>
            <div class="delete-block">
              <%= link_to remove_products_path(v[:product]), class: 'remove_products' do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>Корзина пуста</h3>
    <p class="empty-cart-message">У нас много классных изделий :-)</p>
  <% end %>
</div>
