<% content_for :title, 'Заявки на уникальные товары' %>
<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Заявки на уникальные товары</h2>
      <% if @order_calls_new.any? %>
        <% @order_calls_new.each do |cl| %>
          <div class="horizontal-grid horizontal-grid--order-calls-elements-position horizontal-grid--margin-top-position">
            <h3 class="horizontal-grid__item-title"><%= cl.name %></h3>
            <p class="horizontal-grid__item-telephone"><%= cl.telephone %></p>
            <p class="horizontal-grid__item-notes"><%= cl.notes %></p>
            <div class="horizontal-grid__item-check">
              <%= link_to admin_order_call_complete_path(cl), method: :patch do %>
                <i class="material-icons">check_circle</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-save">
              <%= link_to admin_order_call_save_path(cl), method: :patch do %>
                <i class="material-icons">save</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-edit">
              <%= link_to edit_admin_order_call_path(cl) do %>
                <i class="material-icons">contacts</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-delete">
              <%= link_to admin_order_call_path(cl), method: :delete do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="empty-index empty-index--center">Пока что нет заявок</h3>
      <% end %>
    </div>
  </section>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Сохраненные заявки</h2>
      <% if @order_calls_saved.any? %>
        <% @order_calls_saved.each do |cl| %>
          <div class="horizontal-grid horizontal-grid--order-calls-elements-position horizontal-grid--margin-top-position">
            <h3 class="horizontal-grid__item-title"><%= cl.name %></h3>
            <p class="horizontal-grid__item-telephone"><%= cl.telephone %></p>
            <p class="horizontal-grid__item-notes"><%= cl.notes %></p>
            <div class="horizontal-grid__item-check">
              <%= link_to admin_order_call_complete_path(cl), method: :patch, 'data-turbolinks-scroll': false do %>
                <i class="material-icons">check_circle</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-save">
              <%= link_to '#', class: 'disabled' do %>
                <i class="material-icons">save</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-edit">
              <%= link_to edit_admin_order_call_path(cl) do %>
                <i class="material-icons">contacts</i>
              <% end %>
            </div>
            <div class="horizontal-grid__item-delete">
              <%= link_to admin_order_call_path(cl), method: :delete do %>
                <i class="material-icons">delete_forever</i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="empty-index empty-index--center">Пока что нет заявок</h3>
      <% end %>
      <%= link_to 'Архив', admin_order_calls_arhive_path, class: 'waves-effect waves-light btn-large blue-grey-hover-btn arhive-btn' %> 
    </div>
  </section>
<% end %>