<% content_for :title, 'Оформление заказа' %>
<% content_for :description, '' %>
<% content_for :keywords, '' %>
<% content_for :body do %>
  <section id="product_list" class="section section--grey">
    <div class="container">
      <h2 class="order-header">Ваш список товаров</h2>
      <div id="all_your_products">
        <% @products.each do |value| %>
          <div class="product-flexbox">
            <div class="image-block">
              <%= image_tag(value[:product].thumb_picture, { alt: value[:product].name }) %>
            </div>
            <div class="description-grid">
              <div class="title-block"><%= value[:product].name %></div>
              <div class="price-block"><span><%= value[:product].price %></span>&nbsp;<span><%= image_tag('static/ruble-currency-sign.svg', { alt: 'rub' }) %></span></div>
              <div class="count-block">
                <span class="product-type-count"><%= value[:count] %> шт.</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="to_order">
        <p>Итого: <span id="tottal-price"><%= @tottal_price %></span>&nbsp;<span><%= image_tag('static/ruble-currency-sign.svg', { alt: 'rub' }) %></span></p>
      </div>
    </div>
  </section>
  <section id="form-order" class="section section--grey section--full-height">
    <div class="container">
      <h2 class="order-header order-header--form-order">Оформление заказа</h2>
      <%= form_with model: [:shop, @order], class: 'castom-form castom-form--purple castom-form--margin-top', local: true do |f| %>
        <%= f.text_field(:timezone, type: 'hidden') %>
        <div class="input-field">
          <%= f.text_field :initials, class: invalid_class(@order, :initials) %>
          <%= f.label :initials, 'Фамилия Имя Отчество' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :initials) %>">поле обязательно для заполнения</span>
        </div>
        <div class="input-field">
          <%= f.text_field :telephone, class: invalid_class(@order, :telephone) %>
          <%= f.label :telephone, 'Телефон' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :telephone) %>">ваш номер телефона</span>
        </div>
        <div class="input-field">
          <%= f.text_field :region, class: invalid_class(@order, :region) %>
          <%= f.label :region, 'Регион' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :region) %>">область, край или республика</span>
        </div>
        <div class="input-field">
          <%= f.text_field :city, class: invalid_class(@order, :city) %>
          <%= f.label :city, 'Город' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :city) %>">населенный пункт, поселок или город</span>
        </div>
        <div class="input-field">
          <%= f.text_field :address, class: invalid_class(@order, :address) %>
          <%= f.label :address, 'Адрес' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :address) %>">улица, дом, квартира</span>
        </div>
        <div class="input-field">
          <%= f.text_field :postcode, class: invalid_class(@order, :postcode) %>
          <%= f.label :postcode, 'Почтовый индекс' %>
          <span class="helper-text error" data-error="<%= error_message(@order, :postcode) %>">индекс вашего почтового отделения</span>
        </div>
        <div class="input-field">
          <%= f.text_area :comment, class: 'materialize-textarea' %>
          <%= f.label :comment, 'Комментарий' %>
          <span class="helper-text">не обязательное поле</span>
        </div>
        <div class="input-field">
          <label class="castom-form__checkbox">
            <%= f.check_box(:confirm, { class: 'filled-in purple darken-4' }, value = "1") %>
            <span style="<%= @order.errors.messages[:confirm].any? ? 'color: red;' : nil %>">Принять <a class="privacy-agreement-path" href="<%= privacy_agreement_path %>" target="_blank">политику приватности</a></span>
          </label>
        </div>
        <div class="input-field">
          <%= f.submit 'Отправить', class: 'btn purple darken-4 waves-effect waves-light purple-hover-btn' %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>