<% content_for :title, 'Северное Сияние. Картины, изделия из якутских полудрагоцееных камней. Сотрудничество.' %>
<% content_for :description, 'Изделия из полудрагоценных якутских камней и дерева с лазерной гравировкой. Картины выложенные полудрагоценными камнями. Cувениры. Изготовление на заказ по вашим искизам. Cоздание сувениров для мероприятия. Сотрудничество: ' + @phone_call %> %>
<% content_for :keywords, 'полудрагоценные, камни, якутск, якутские, якутия, нерюнгри, лазерная гравировка, картины, купить, сувениры' %>
<% content_for :body do %>
  <%= render 'includes/preview_block' %>
  <section class="section" id="services">
    <div class="container">
      <h2 class="section__title">Наши услуги</h2>
      <div class="services-flexbox">
        <div class="about-service">
          <h3>Сувениры на заказ</h3>
          <p>Сочетая технологичное производство при помощи лазерной гравировки, и ручной труд наших художников, мы рады предложить Вам многообразие сувениров из самоцветов: магниты, подвески, игрушки, панно и наградная продукция. Список ограничивается только Вашей фантазией! Новые виды и формы внедряются в производство постоянно.</p>
        </div>
        <div class="show-service">
          <h3>Выполненные работы</h3>
          <div class="carousel carousel-slider service-slider">
            <% if @portfolios.any? %>
              <% @portfolios.each do |portfolio| %>
                <div class="carousel-item">
                  <%= image_tag(portfolio.large_picture, {alt: portfolio.name }) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="about-service">
          <h3>Картины на заказ</h3>
          <p>Помимо уже готовых панно, представленных в нашем магазине, можно заказать картину индивидуально, с учетом всех пожеланий клиента. Картина может украсить Ваш дом любимым изображением, послужить подарком на торжество, или в качественном сувенира с логотипом вашего учреждения.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('static/parallax_shop_1.jpg') %></div>
  </div>
  <section class="section section--grey" id="shop">
    <div class="container">
      <h2 class="section__title">Наш магазин</h2>
      <div class="about-shop-grid">
        <div class="block block-description">
          <h3>О нас</h3>
          <p>Якутия славится своими самоцветами, чья красота не может оставить равнодушным, а так же мастерами, умело использующими природные материалы. Именно поэтому местные художники умело сочетают изобразительное искусство, и технику изготовления картин и сувениров из натурального камня. Мастерская "Северное сияние" рада предложить вам эксклюзивные изделия из полудрагоценных и поделочных камней, ювелирные украшения и бижутерию на любой вкус. Ассортимент постоянно расширяется, и принимаются индивидуальные заказы, гарантирующие эксклюзивность, и неповторимость вашего изделия.</p>
        </div>
        <div class="block">
          <%= image_tag('static/shop_1.jpg', {alt: 'about_us'}) %>
        </div>
        <div class="block">
        <a href="#"></a>
          <%# <%= image_tag('static/shop_2.jpg', {alt: 'products'}) %> %>
        </div>
        <div class="block block-description">
          <h3>О продукции</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="block block-description">
          <h3>Камни</h3>
          <p>Многообразие камней, использующихся для создания наших изделий обеспечивает богатую палитру, и уникальность каждого творения. Это и самоцветы ближнего востока, и дары уральских недр, и местные эксклюзивные камнецветы, гордость Якутии- чароит и хромдиопсид. Именно они встречаются только на территории нашей республики, добавляя неповторимость продукции.</p>
        </div>
        <div class="block">
          <%= image_tag('static/shop_3.jpg', {alt: 'gems'}) %>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('static/parallax_shop_2.jpg') %></div>
  </div>
  <%= render 'includes/will_like' %>
<% end %>