<% content_for :title, 'Художественная мастерская "Северное Сияние" - сувениры и картины' %>
<% content_for :description, 'Наши мастера и художники создают картины и сувениры с использованием полудрагоценных якутских камней. Мы имеем широкий ассортимент своих изделий, но мы открыты и к воплощению ваших идей или эскизов.' %> %>
<% content_for :keywords, 'картины, купить картину, картины художников, сувениры, купить сувениры, оригинальный подарок, купить подарок, картины на заказ, республика якутия' %>
<% content_for :body do %>
  <%= render 'includes/preview_block' %>
  <section class="section" id="services">
    <div class="container">
      <h2 class="section__title">Наше предложение</h2>
      <div class="services-flexbox">
        <div class="about-service">
          <h3>Сувениры на заказ</h3>
          <p>Сочетая технологию лазерной гравировки и ручной труд, мы рады предложить Вам многообразие сувениров из самоцветов: магниты, подвески, игрушки, панно и наградная продукция. Список ограничивается только Вашей фантазией! Новые виды и формы внедряются в производство постоянно.</p>
        </div>
        <div class="show-service">
          <h3>Выполненные работы</h3>
          <div class="carousel carousel-slider service-slider">
            <% if @portfolios.any? %>
              <% @portfolios.each do |portfolio| %>
                <% cache(portfolio) do %>
                  <div class="carousel-item">
                    <%= image_tag(portfolio.large_picture, alt: portfolio.name) %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="about-service">
          <h3>Картины на заказ</h3>
          <p>Помимо уже готовых картин, которые можно купить в нашем магазине, можно заказать картину индивидуально, с учетом всех пожеланий клиента. Картина может украсить Ваш дом любимым изображением, послужить подарком на торжество, или в качестве сувенира с логотипом вашего учреждения.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('', data: { src: image_url('static/parallax_shop_1.jpg') },  alt: 'Магазин "Северное Сияние"') %></div>
  </div>
  <section class="section section--grey" id="shop">
    <div class="container">
      <h2 class="section__title">Наш магазин</h2>
      <div class="about-shop-grid">
        <div class="block block-description">
          <h3>Мы</h3>
          <p>Якутия славится своими самоцветами, чья красота не может оставить равнодушным, а так же мастерами, умело использующими природные материалы. Именно поэтому местные художники умело сочетают изобразительное искусство и технику изготовления картин и сувениров из натурального камня.</p>
        </div>
        <div class="block">
          <%= image_tag('static/shop_1.jpg', {alt: 'сувениры'}) %>
        </div>
        <div class="block">
          <%= image_tag('static/shop_2.jpg', {alt: 'сувениры'}) %>
        </div>
        <div class="block block-description">
          <h3>Продукция</h3>
          <p>Мы рады предложить вам эксклюзивные сувениры из полудрагоценных и поделочных камней. Ассортимент постоянно расширяется, принимаются индивидуальные заказы, гарантирующие эксклюзивность и неповторимость вашего изделия.</p>
        </div>
        <div class="block block-description">
          <h3>Материалы</h3>
          <p>Многообразие камней, использующихся для создания наших сувениров, обеспечивает богатую палитру и уникальность каждого творения. Это и самоцветы ближнего востока, и дары уральских недр, и местные эксклюзивные камнецветы, гордость Якутии - чароит и хромдиопсид. Именно они встречаются только на территории нашей республики, добавляя неповторимость продукции.</p>
        </div>
        <div class="block">
          <%= image_tag('static/shop_3.jpg', {alt: 'сувениры'}) %>
        </div>
      </div>
    </div>
  </section>
  <div class="parallax-container">
    <div class="parallax"><%= image_tag('', data: { src: image_url('static/parallax_shop_2.jpg') }, alt: 'Магазин "Северное Сияние"') %></div>
  </div>
  <%= render 'includes/last_created_products' %>
<% end %>