<% content_for :title, 'Instalinks' %>

<% content_for :body do %>
  <section class="section section--grey section--full-height">
    <div class="container">
      <h2 class="section__title">Редактировать ссылки</h2>
      <%= form_with model: [:admin, @instalinks], class: 'castom-form castom-form--purple castom-form--margin-top' do |f| %>
        <div class="input-field">
          <%= f.text_field :whatsapp %>
          <%= f.label :whatsapp, 'whatsapp' %>
        </div>
        <div class="input-field">
          <%= f.text_field :telegram %>
          <%= f.label :telegram, 'telegram' %>
        </div>
        <div class="input-field">
          <%= f.text_field :facebook %>
          <%= f.label :facebook, 'facebook' %>
        </div>
        <%= f.submit 'Сохранить', class: 'purple darken-4 waves-effect waves-light btn castom-button castom-button--purple castom-button--input-text-white' %>
      <% end %>
    </div>
  </section>
<% end %>