<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мы</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'materialize', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'instalinks', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'materialize', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'instalinks', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="particles-js" class="links blue-grey darken-3">
      <div class="links-buttons">
        <%= image_tag('static/logo.svg', {alt: 'logo', class: 'links-buttons-logo'}) %>
        <%= link_to root_path, class: 'waves-effect waves-light btn links-buttons-item links-buttons-site' do %>
          <%= fa_icon 'globe' %>
          <span>наш сайт</span>
        <% end %>
        <a href="https://t.me/<%= @telegram %>" class="waves-effect waves-light btn links-buttons-item links-buttons-telegram">
          <%= fa_icon 'telegram' %>
          <span>telegram</span>
        </a>
        <a href="https://ru-ru.facebook.com/<%= @facebook %>" class="waves-effect waves-light btn links-buttons-item links-buttons-facebook">
          <%= fa_icon 'facebook' %>
          <span>facebook</span>
        </a>
        <a href="https://api.whatsapp.com/send?phone=<%= @whatsapp %>" class="waves-effect waves-light btn links-buttons-item links-buttons-whatsapp">
          <%= fa_icon 'whatsapp' %>
          <span>whatsapp</span>
        </a>
        <a href="tel:+<%= @contacts.call_format_phone %>" class="waves-effect waves-light btn links-buttons-item links-buttons-call">
          <%= fa_icon 'phone' %>
          <span>позвонить</span>
        </a>
      </div>
    </div>
  </body>
</html>