<section class="section section--grey section--full-height">
  <div class="container">
    <h2 class="section__title"><%= @category.name %></h2>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div class="horizontal-grid horizontal-grid--margin-top-position horizontal-grid--product-elements-position">
          <%= image_tag(product.thumb_picture, {class: 'horizontal-grid__item-image', alt: product.name  }) %>
          <h3 class="horizontal-grid__item-title"><%= product.name %></h3>
          <div class="horizontal-grid__item-edit">
            <%= link_to edit_admin_product_path(product) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </div>
          <div class="horizontal-grid__item-delete">
            <%= link_to admin_product_path(product), method: :delete do %>
              <i class="material-icons">delete_forever</i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3 class="empty-index empty-index--center">Пока что товаров данной категории нет :'(</h3>
    <% end %>
  </div>
</section>