<% content_for :title, "\"#{@product.name}\" - купить #{@product.category.name}" %>
<% content_for :description, @product.description %>
<% content_for :keywords, @product.keywords %>
<% content_for :body do %>
  <section id="show_product_block" class="section">
    <div class="container">
      <div class="underlined-text underlined-text-product-show">
        <p class="underlined-text-head underlined-text-product-show-head">Как заказать?</p>
        <p class="underlined-text-body underlined-text-product-show-head-body">По умолчанию заказы отправляются "Почтой России" с наложенным платежом. Уточняйте оплату за доставку на главном сайте "Почты России". Возможно обсудить иные способы доставки. После оформления заказа мы вам перезвоним.</p>
      </div>
      <article>
        <div class="show-flexbox">
          <div class="show-product-image">
            <%= image_tag(@product.large_picture, { alt: @product.name }) %>
            <div class="preloader-box preloader-box--product-show preloader-box--white blue-grey darken-3">
              <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="show-product-description">
            <div class="price">
              <span><%= @product.price %></span>
              <span><%= image_tag('static/ruble-currency-sign.svg', { alt: 'rub' }) %></span>
            </div>
            <h1 class="product-name"><%= @product.name %></h1>
            <p><%= @product.description %></p>
            <div class="buttons-group">
              <% if params[:q] %>
                <%= link_to shop_search_products_client_index_path(params[:q]), class: 'blue-grey darken-3 waves-effect waves-light btn-large blue-grey-hover-btn' do %>
                  <div><i class="tiny material-icons">arrow_back</i> <span>Поиск</span></div> 
                <% end %>
              <% else %>
                <%= link_to shop_category_products_url(@product.category.slug), class: 'blue-grey darken-3 waves-effect waves-light btn-large blue-grey-hover-btn' do %>
                  <div><i class="tiny material-icons">arrow_back</i> <span><%= @product.category.name %></span></div>
                <% end %>
              <% end %>
              <% if @product.unique %>
                <a class="waves-effect waves-light btn modal-trigger btn-large purple-hover-btn" href="#order-modal">Заказать</a>
              <% else %>
                <%= link_to 'В корзину', add_product_path(@product.id), remote: true, class: 'purple darken-4 waves-effect waves-light btn-large purple-hover-btn', method: :post %>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
  <% if @product.unique %>
    <div id="order-modal" class="modal">
      <i class="small material-icons order-modal-close modal-close">close</i>
      <h5>Оставьте нам свои данные</h5>
      <%= form_with(url: shop_order_calls_path, class: 'castom-form castom-form--purple') do %>
        <%= text_field_tag(:timezone_order_call, '', id: 'timezone-order-modal', type: 'hidden') %>
        <%= text_field_tag(:product_id_order_call, @product.id, type: 'hidden') %>
        <%= text_field_tag(:product_name, @product.name, type: 'hidden') %>
        <%= text_field_tag(:product_price, @product.price, type: 'hidden') %>
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <%= text_field_tag(:name_order_call, '') %>
          <%= label_tag(:name_order_call, 'Ваше имя') %>
          <span id="errors-order-call-name" class="helper-text" data-error=""></span>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">phone</i>
          <%= text_field_tag(:telephone_order_call, '') %>
          <%= label_tag(:telephone_order_call, 'Ваш телефонный номер') %>
          <span id="errors-order-call-telephone" class="helper-text" data-error=""></span>
        </div>
        <div class="input-field">
          <label class="castom-form__checkbox castom-form--checkbox-padding-left">
            <%= check_box_tag(:confirm_order_call, value = "1", checked = false, options = {class: 'filled-in'}) %>
            <span id="errors-order-call-confirm" class="order-modal-font">Принять <a target="_blank" href="<%= privacy_agreement_path %>">политику приватности</a></span>
          </label>
        </div>
        <div class="input-field castom-form--margin-top">
          <%= submit_tag('Отправить', class: 'purple darken-4 center-submit waves-effect waves-light btn castom-button castom-button--purple castom-button--input-text-white') %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'includes/last_created_products' %>
<% end %>