<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title ? @title : 'Северное Сияние' %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'materialize',        'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'layout',             'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',        'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller],  'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'materialize',     'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',     'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'client',          'data-turbolinks-track': 'reload' %>
    <meta name="description" content="<%= @description ? @description : 'Продажа изделий из полудрагоценных якутских камней дерева с лазерной гравировкой, картин, сувениров. Изготовление на заказ по вашим искизам. Cоздание сувениров для мероприятия. Сотрудничество.' %>">
    <meta name="keywords" content="<%= @keywords ? @keywords : 'драгоценные, полудрагоценные, камни, якутские, лазерная, гравировка, изделия, картины, сувениры, дерево' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= render 'includes/header_client' %>
    <%= yield %>
    <%= render 'includes/footer_client' %>
    <%= render 'includes/tap_target' %>
    <% unless current_page?(privacy_agreement_path) || current_page?(new_shop_order_path) # на двух страницах корзина не нужна %>
      <div id="bottom-modal-cart" class="modal bottom-sheet">
        <div class="container">
          
        </div>
      </div>
    <% end %>
  </body>
</html>
